---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install PostgreSQL
  ansible.builtin.apt:
    name:
      - postgresql
      - postgresql-contrib
      - python3-psycopg2
    state: present

- name: Ensure PostgreSQL is started and enabled
  ansible.builtin.service:
    name: postgresql
    state: started
    enabled: yes

- name: Create PostgreSQL database
  become: yes
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ db_name }}"
    state: present

- name: Create PostgreSQL user
  become: yes
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ db_user }}"
    password: "{{ db_pass }}"
    state: present

- name: Grant privileges to user on database
  become: yes
  become_user: postgres
  community.postgresql.postgresql_privs:
    database: "{{ db_name }}"
    roles: "{{ db_user }}"
    privs: ALL
    type: database
    state: present

- name: Get PostgreSQL version
  ansible.builtin.shell: psql --version | grep -oP '\d+' | head -1
  register: pg_version
  changed_when: false

- name: Find PostgreSQL config directory
  ansible.builtin.find:
    paths: /etc/postgresql
    file_type: directory
    recurse: no
  register: pg_dirs

- name: Set PostgreSQL version fact
  ansible.builtin.set_fact:
    postgresql_version: "{{ pg_dirs.files[0].path | basename }}"

- name: Configure PostgreSQL to listen on all addresses
  ansible.builtin.lineinfile:
    path: "/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf"
    regexp: '^#?listen_addresses'
    line: "listen_addresses = '*'"
    state: present
  notify: restart postgresql

- name: Configure PostgreSQL authentication for remote connections
  ansible.builtin.lineinfile:
    path: "/etc/postgresql/{{ postgresql_version }}/main/pg_hba.conf"
    line: "host    all             all             0.0.0.0/0               md5"
    state: present
  notify: restart postgresql
