---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install Apache and PHP packages
  ansible.builtin.apt:
    name:
      - apache2
      - php
      - php-cli
      - php-fpm
      - php-pgsql
      - php-mbstring
      - php-xml
      - php-curl
      - php-zip
      - php-bcmath
      - php-json
      - php-tokenizer
      - libapache2-mod-php
      - git
      - unzip
    state: present

- name: Enable Apache rewrite module
  community.general.apache2_module:
    name: rewrite
    state: present
  notify: restart apache

- name: Install Composer
  ansible.builtin.shell: |
    curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
  args:
    creates: /usr/local/bin/composer

- name: Clone Laravel application from GitHub
  ansible.builtin.git:
    repo: 'https://github.com/Practical-DevOps/app-for-devops.git'
    dest: /var/www/laravel-app
    version: main
    force: yes

- name: Set ownership of Laravel directory
  ansible.builtin.file:
    path: /var/www/laravel-app
    owner: www-data
    group: www-data
    recurse: yes

- name: Set permissions for storage and cache
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0775'
    recurse: yes
  loop:
    - /var/www/laravel-app/storage
    - /var/www/laravel-app/bootstrap/cache

- name: Install Composer dependencies
  become: yes
  become_user: www-data
  community.general.composer:
    command: install
    working_dir: /var/www/laravel-app
    no_dev: no

- name: Create .env file from template
  ansible.builtin.template:
    src: env.j2
    dest: /var/www/laravel-app/.env
    owner: www-data
    group: www-data
    mode: '0644'

- name: Check if APP_KEY is set in .env
  ansible.builtin.shell: grep -q "^APP_KEY=base64:" /var/www/laravel-app/.env
  register: app_key_check
  failed_when: false
  changed_when: false

- name: Generate Laravel application key
  become: yes
  become_user: www-data
  ansible.builtin.shell: php artisan key:generate --force
  args:
    chdir: /var/www/laravel-app
  when: app_key_check.rc != 0

- name: Clear Laravel configuration cache
  become: yes
  become_user: www-data
  ansible.builtin.shell: php artisan config:clear
  args:
    chdir: /var/www/laravel-app

- name: Run Laravel migrations
  become: yes
  become_user: www-data
  ansible.builtin.shell: php artisan migrate --force
  args:
    chdir: /var/www/laravel-app
  register: migration_result
  failed_when: false

- name: Display migration output
  ansible.builtin.debug:
    var: migration_result
  when: migration_result.rc != 0

- name: Optimize Laravel
  become: yes
  become_user: www-data
  ansible.builtin.shell: php artisan optimize
  args:
    chdir: /var/www/laravel-app

- name: Configure Apache virtual host
  ansible.builtin.template:
    src: laravel-vhost.conf.j2
    dest: /etc/apache2/sites-available/laravel.conf
    mode: '0644'
  notify: restart apache

- name: Disable default Apache site
  ansible.builtin.command: a2dissite 000-default.conf
  args:
    removes: /etc/apache2/sites-enabled/000-default.conf
  notify: restart apache

- name: Enable Laravel site
  ansible.builtin.command: a2ensite laravel.conf
  args:
    creates: /etc/apache2/sites-enabled/laravel.conf
  notify: restart apache

- name: Ensure Apache is started and enabled
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes
